.App {
  padding: 20px;
  text-align: left;
}

.won-card {
  background-color: #157b19;
}

.loss-card {
  background-color: #8e2020;
}

.draw-card {
  background-color: #767679;
}
.app-name {
  font-size: 2.5rem;
  margin: 30px auto;
}
